/*----------------------------------------------*/
/*Header*/
@import "variables";
@import "mixins";
/*----------------------------------------------*/

.header {
  @include box-shadow();
  display: flex;
  justify-content: center;

}

/*----------------------------*/
/*Header Personal*/
/*----------------------------*/
.personal {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 8;

  &__avatar {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    &-img {
      display: flex;
      width: 100%;
      height: auto;
      @include box-shadow();
      padding: 0.5rem;
      margin: .5rem .5rem 0 0;
    }

    &__title {

    }
  }

  .social {
    &__item {
      border-radius: 9%;
      text-align: center;
      padding: .4rem;
      margin: 0 0 .5rem -1rem;
      @include box-shadow();
    }
  }

}

/*----------------------------*/
/*Header Navigation*/
/*----------------------------*/
.header-nav {
  display: flex;
  justify-content: center;
  flex: 2;
  flex-direction: column;

  &__menu {
    position: absolute;
    right: 100vh;
    transition: right 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  @media (min-width: 320px) and (max-width: 768px) {
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1rem;
      font-size: 1.5rem;
    }
  }

  /*====================================*/
  /*Burger*/

  .burger {
    position: absolute;
    right: 1.5rem;
    top: 2rem;
    width: 2.5rem;
    cursor: pointer;
    z-index: 100;

    %__span {
      width: 100%;
      position: absolute;
      height: 0.2rem;
      @include background($white);
      display: block;
      transition: 0.3s;
      border-radius: 6px;
      cursor: pointer;
    }

    &__span {
      @extend %__span;
      &::before {
        @extend %__span;
        content: "";
        top: -.7rem;
        transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      &::after {
        @extend %__span;
        content: "";
        bottom: -.7rem;
        transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      &.active::after{
          content: "";
          bottom: 0;
          transform: rotate(-45deg);
          transition: bottom 300ms,
          transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);


      }

     &.active {
      background: transparent;
      }

      &.active::before {
        content: "";
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }
  }
}