/*---------------------------*/
/*Main*/

@import "mixins";
@import "variables";
/*---------------------------*/
.main {
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;

}

/*-----------------------------*/
/*Main about*/
/*-----------------------------*/
.main__about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include box-shadow();
  margin: .85rem;
  padding: 1rem;

}

.main__about-subtitle {
  margin: 0 0 .5rem 0;
}

.main__about-text--bold {
  font-weight: bold;
}

/*---------------------------*/
/*Main Works*/
/*---------------------------*/
.works {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include box-shadow();
}

/*=========================================*/
/*Slider*/
/*=========================================*/

.slide-container {
  display: flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
}

.main-slide {
  display: flex;
  width: 100%;
  height: 90vh;
  transition: transform 0.5s ease-in-out;
  padding: 0;
}

.main-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 100%;
  img{
    max-width: 100vw;
  }
}

.sidebar {
  display: flex;
  max-width: 100%;
  width: 100vw;
  height: 30vh;
  position: absolute;
  bottom: 0;
  transition: transform 0.5s ease-in-out;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 0 100%;
    height: 100%;
    width: 100%;
    color: #fff;
  }
  strong{
    font-size: 1.5rem;
    color: #242222;
    margin-top: 1rem;
  }
  .strong-white {
    color: #a7a5a5;
  }
  p {
    font-size: 1rem;
   margin-top: .2em;
  }
  a {
    color: #224dd7;
    text-decoration: none;
    margin: .2rem 0 0 .5rem ;
    &:hover {
      color: $red;
    }
  }
}

.sidebar h3 {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0 0 0;

}

.button {
  background: rgba(51, 51, 51, .9);
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: .9rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5),  0 0 15px rgba(0,0,0,0.9);
}

button:hover {
  color: $white;
}
button:active {
  color: $red;
}


button:focus {
  outline: none;
}

.slide-container .controls button {
  position: absolute;
  left: 50%;
  top: 60%;
  z-index: 100;
}

.slide-container .controls .left-button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: -3rem;
}

.slide-container .controls .right-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 1rem;
}


/*=============================================*/
/*Contacts*/
/*=============================================*/
