/*-------------------------*/
/*Page*/
/*-------------------------*/
@import "variables";
@import "mixins";

.html, body {
 @include main-background();
  color: $white;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.hidden {
  overflow: hidden;
}
.page {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100vw;
  height: 100vh;


}

/*Loading*/
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
/*-------------------------*/
/*Help classes*/
/*-------------------------*/
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: $white;
  &:hover {
   @include hover();
  }
}

.title {
  text-align: center;
}

.hr {
 max-width: 300px;
  width: 100%;
  margin: 0 auto;
}






